body {
  background-color: #54575b;
}

li {
  display: inline-block;

}

header {
  #text-align: center;
  #font-size: 50px;
  background-color: #203a63;
}

nav {
  display: inline-block;
  float: left;
  position: sticky;
  width: 20%;
  /*
  position: relative;
  background-color: red;
  animation-name: menu;
  animation-duration: 5s;
  */
}

 #button {
   background-color: #54575b; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   width: 50px;
 }

  #rk {
    display: inline-block;
    width: 1250px;


  }

body{
  background-color: #88CCF1;
  width: 20%;
  length: 100%;
}
section {
  /* margin-right: */
  background-color: #88CCF1;
  text-align: right;
}

footer {
  /* margin-bottom: */
   background-color: #88CCF1;
   float: left;
   clear: left;
  /* text-align: center; */
}
/*
@keyframes menu{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:red; left:200px; top:0px;}
    50%  {background-color: #4CAF50; left:200px; top:0px;}
    75%  {background-color: #4CAF50; left:200px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
    125% {background-color:red; left:0px; top:0px;}
}
*/
div {
  display: inline-block;
  width: 200px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #54575b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C1DFF0;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
